body{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#image, #reveal{
    width: 256px;
    height: 256px;
    position: relative;
}

img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.overlay{
    width:34%;
    height:34%;
    background-color:white;
    z-index: 10;
    position: absolute;
    background-size: 100%;
}

.overlay:nth-child(odd){
    background-image: url("../img/prime_orange.png");
}

.overlay:nth-child(even){
    background-image: url("../img/prime_yellow.png");
}

#overlay2, #overlay5, #overlay8{
    right: 33%;
}

#overlay3, #overlay6, #overlay9{
    right: 0;
}

#overlay4, #overlay5, #overlay6{
    bottom:33%;
}

#overlay7, #overlay8, #overlay9{
    bottom:0;
}
.overlay{
    cursor:pointer;
}
