#image{
    width: 256px;
    height: 256px;
    position: relative;
}
.overlay{
    width:50%;
    height:50%;
    background-color:white;
    z-index: 10;
    position: absolute;
    background-size: 100%;
}

.overlay:nth-child(odd){
    background-image: url("../img/prime_orange.png");
}

.overlay:nth-child(even){
    background-image: url("../img/prime_yellow.png");
}

#overlay2{
    right: 0;
}
#overlay3{
    right: 0;
    bottom:0;
}
#overlay4{
    left:0;
    bottom:0;
}

.overlay{
    cursor:pointer;
}
