#image{
    width: 128px;
    height: 128px;
    position: relative;
}
.overlay{
    width:50%;
    height:50%;
    background-color:white;
    z-index: 10;
    position: absolute;
}
#overlay2{
    right: 0;
}
#overlay3{
    right: 0;
    bottom:0;
}
#overlay4{
    left:0;
    bottom:0;
}

.overlay{
    cursor:pointer;
}
